.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.inputSearch {
  width: 300px;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 4px;
}

.inputText {
  margin: 0;
  font-size: 30px;
}
