.span {
  font-weight: 500;
  font-size: 20px;
  color: black;
  border: 1px solid rgb(207, 185, 209);
}

.div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  width: 35px;
  height: 35px;
  margin-top: 15px;
}

.modal {
  justify-content: center;
  border: 2px solid black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background-color: rgba(169, 3, 3, 0.5);
  z-index: 1200;
}
